*{
box-sizing: border-box;
}
body{
 margin: 10px;
 padding: 10px;
}

.wp-fijo {
   top: 70%;
}
.wp-fijo {
   position: fixed;
   right: 30%;
   top: 50%;
}

header {
background-color: lightblue;
flex: 90%;
display: flex;
justify-content: space-between;
gap: 50px;
flex-wrap: wrap;
padding: 1%;
}

.logo  { background-color: grey;
       height: 30%;
       display: contents;
   justify-content: space-around;
       gap: 50px;
     }

.redessociales {background-color: grey;
      height: 40%;
      margin-top: 150px;
      padding: 1%;
      }

.row{
 display:flex;
 flex-wrap: wrap;
}
header h2{
 display: flex;
 font-size: 50px;
 text-align: center;
 line-height: 150px;
 font-family: 'Lobster', cursive;
}

h2:hover{
font-size: 4rem;
color: blue;
}


aside {
flex: 25px;
 background-color: beige;
 padding: 10px;
}

section {
 flex: 75px;
 background-color: khaki;
 padding: 10%;
}

@media {max-widht: 575px;
  fondo {background-color: blue}
}



footer { background-color: orange;
display: flex;
justify-content: space-between;
gap: 50px;
flex-wrap: wrap;
padding: 1%;
}

.redessociales {background-color: grey;
      height: 25%;
      margin-top: 100px;
}
.desarrollador{
font-size: 10px;
}
